.navbar{
  background-color: red;
}

.navLinks{
    color: #042F59;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 0.5em;
  }
  .navLinks:hover{
    transition: 0.5s;
    color: #25AFC2;
  
  }
  
  .banner{
    margin-left: -5rem;
  }