.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: white;
}

.Jumbotron{
  background-image: url('/pexels-danny-meneses-943096.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
}

.coverBanner{
  margin: 25vh 0;
  background-color: transparent;
}